
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #E5E5E5;
}

/* navbar section */
.navbar{
    display: flex;
    justify-content: flex-end;
}

.navbar li{ 
    list-style: none;
    margin: 27px 35px 0 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.navbar a{
    text-decoration: none;
    cursor: pointer;
}

/* about-me section */
.about-section{
    max-width: 900px;
    width: 85%;
    max-height: 297px;
    display: flex;
    color: #21243D;
    margin: 100px auto;
}
.about-me-writeup h1{
    font-weight: 700;
    font-size: 44;
    line-height: 40px;
    margin-bottom: 40px;
}

.about-me-writeup span{
    display: block;
}

.my-description{
    max-width: 497px;
    max-height: 66px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}

.my-skills-p{
    font-size: 16px;
    line-height: 24px;
}

.my-skills-list{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
}

.my-skills-list li{
    list-style: none;
    padding: 8px;
    margin: 5px 0;
    width: 100px;
    background-color: #8695A4;
    color: white;
    text-align: center;
    font-size: 15px;
}


.resume-btn{
    width: 200px;
    height: 50px;
    background-color: #FF6464;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 70px;
    cursor: pointer;
}
.resume-btn:hover{
    background-color: #00A8CC;
}

.resume-btn a{
    text-decoration: none;
    color: white;
}

.about-me-img{
    width: 300px;
    margin-left: 60px;
    margin-top: 50px;
    align-self: center;

}

.about-me-img img{
    width: 100%;
    border-radius: 50%;

}

/* projects section */

.projects{
    color: #21243D;
    margin: 70px auto 0;
    width: 80%;
}

.projects-title{
    font-size: 30px;
    line-height: 60px;
    margin: 30px 0;
    text-align: center;
}

.projects-description{
    font-size: 17px;
    font-weight: 500;
}

.each-project{
    display: flex;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #21243D;
}
.each-project img{
    max-width: 246px;
    margin-right: 30px;
    border-radius: 6px;
}

.each-project-details{
    max-width: 500px;
}

.each-project-details h3{
    font-size: 25px;
    margin: 40px 0;
}

.display-project-site{
    margin-top: 20px;
    padding: 5px 15px;
    background-color: #6184D8;
    border: none;
    border-radius: 3px;

}

.display-project-site a{
    color: white;
    text-decoration: none;
}


/* contact section */
.contact-section{
    color: #21243D;
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
}

.contact-section h3{
    font-size: 23px;
    margin-bottom: 10px;
}
.contact-section p{
    margin: 25px 0;
    font-weight: 600;
}

.contact-me-content span{
    font-weight: 500;
    display: block;
}
.contact-me-content input{
    max-width: 500px;
    width: 80%;
    padding: 5px 15px;
}
.send-msg-btn{
    display: block;
    padding: 10px 30px;
    margin-top: 15px;
    color: #21243D;
    font-weight: 500;
}

.contact-me-content textarea{
    width: 70%;
}

.contact-me-content form{
    border-bottom: 1px solid #21243D;
    padding-bottom: 20px;
}


/* footer section */
.footer{
    text-align: center;
    margin: 100px 40px 50px; 
}

.social-media{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.social-media a{
    cursor: pointer;
}



.social-media img{
    width: 20px;
    height: 18px;
}

.email,
.twitter,
.github{
   padding-left: 25px;
}

.social-media li{
    list-style: none;
}
.social-media li:hover{
    transform: scale(1.2);
}
